- content_for :title, @gallery.name
- content_for :page_title, @gallery.name

- @gallery.photos.each_slice(4) do |photos|
  %ul.thumbnails.row
    - photos.each do |photo|
      %li.span3
        = link_to(image_tag(photo.photo.thumb('210x173').url), photo.photo.remote_url, :class => "thumbnail", :rel => 'lightbox')
