- content_for :title, @gallery.name

%ul.thumbnails
  - @gallery.photos.each_slice(4) do |photos|
    - photos.each do |photo|
      %li.span3
        = link_to(image_tag(photo.photo.thumb('260x173').url), photo.photo.url, :class => "thumbnail", :rel => 'lightbox')
