// custom theme over-rides go here

// Welcome header
body.splash {
  background-image: url(/assets/header_bg.jpg);
  background-repeat: repeat-x;
  background-position: center top;
  .jumbotron.masthead {
    margin-bottom: 0px;
    .inner {
      h1 {
        background-image: url(/assets/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        text-indent: -3000px;
        margin-top: -50px;
        height: 150px;
        width: 100%;
        overflow:hidden;
      }
      p {
        text-indent: -3000px;
      }
    }
  }
}

// center homepage carousel images horizontally
#carousel {
  .item {
    text-align: center;
    a {
      display: block;
      .thumbnail {
        margin: 0 auto;
      }
    }
  }
}

// Welcome marketing gallery
.marketing {
  margin-top: 60px;
}

// allow gallery thumbs to be any aspect ratio
.thumbnails {
  text-align: center;
  li {
    height: 183px;
  }
  .thumbnail {
    display: inline-block;
  }
  img {
    margin: 0;
  }
}

// footer links
footer {
  a:hover {
    color: #6b6b6b;
    text-decoration: none;
  }
}
