// custom theme over-rides go here

// Welcome header
body.splash {
  background-image: url(/assets/header_bg.jpg);
  background-repeat: repeat-x;
  background-position: center top;
  .container {
    width: 1024px;
    .span12 {
      width: 1024px;
    }
  }
  footer {
    min-width: 1024px;
  }
  .jumbotron.masthead {
    margin-bottom: 0px;
    .inner {
      h1 {
        background-image: url(/assets/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        text-indent: -3000px;
        margin-top: -50px;
        height: 150px;
        width: 100%;
        overflow:hidden;
      }
      p {
        text-indent: -3000px;
      }
    }
  }
  .mininav {
    position: absolute;
    top: 100px;
  }
}

// center homepage carousel images horizontally
#carousel {
  .item {
    text-align: center;
    a {
      display: block;
      .thumbnail {
        margin: 0 auto;
      }
    }
  }
}

// allow gallery thumbs to be any aspect ratio
.thumbnails {
  text-align: center;
  li {
    height: 183px;
  }
  .thumbnail {
    display: inline-block;
  }
  img {
    margin: 0;
  }
}

// footer
footer {
  a:hover {
    color: #6b6b6b;
    text-decoration: none;
  }
  min-width: 940px; // fixes footer when horizontal scrolling
}

// btn-inverse from bootstrap 2.0
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
